<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <script async src="https://subscribe-forms.beehiiv.com/attribution.js"></script>
  <body unresolved>
    <nav>{% include nav.html %}</nav>
    <div class="wrapper">
      <main>
        {{ content }}

        {%- assign ts = nil -%}
        {%- if page.last_modified_at -%}
          {%- assign ts = page.last_modified_at -%}
        {%- elsif page.date -%}
          {%- assign ts = page.date -%}
        {%- endif -%}

        {%- if ts -%}
          <time datetime="{{ ts | date_to_xmlschema }}">
            last updated on {{ ts | date: "%B %-d, %Y" | downcase }}
          </time>
        {%- endif -%}
      </main>

      <footer>{% include footer.html %}</footer>
    </div>

    {% include link-previews.html wrapperQuerySelector="content" %}
  </body>
</html>