---
layout: default
---

<article>
  <div>
    <h1>{{ page.title }}</h1>
{% assign ts = nil %}
{% if page.last_modified_at %}
  {% assign ts = page.last_modified_at %}
{% elsif page.date %}
  {% assign ts = page.date %}
{% endif %}

{% if ts %}
  <time datetime="{{ ts | date_to_xmlschema }}">
    {%- comment -%} reading time: ~200 wpm, rounded up {%- endcomment -%}
    {%- assign words = content | strip_html | replace:'&nbsp;',' ' | replace:'  ',' ' | split:' ' | size -%}
    {%- assign minutes = words | plus: 199 | divided_by: 200 -%}
    {% unless page.type == 'pages' %}
      last updated on {{ ts | date: "%B %-d, %Y" | downcase }} • {{ minutes }} min read
    {% endunless %}
  </time>
{% endif %}
  </div>

  <div id="notes-entry-container">
    <content>
      {{ content }}
    </content>
  </div>
</article>

<hr>

<p>visualise all my thoughts here.</p>

{% include notes_graph.html %}
