---
layout: default
---

<article>
  <div>
    <h1>{{ page.title }}</h1>
<time datetime="{{ page.last_modified_at | date_to_xmlschema }}">
  {% if page.type != 'pages' %}
    {%- comment -%} reading time: ~200 wpm, rounded up {%- endcomment -%}
    {%- assign words = content | strip_html | replace:'&nbsp;',' ' | replace:'  ',' ' | split:' ' | size -%}
    {%- assign minutes = words | plus: 199 | divided_by: 200 -%}
    last updated on {{ page.last_modified_at | date: "%B %-d, %Y" | downcase }} • {{ minutes }} min read
  {% endif %}
</time>
  </div>

  <div id="notes-entry-container">
    <content>
      {{ content }}
    </content>
  </div>
</article>

<hr>

<p>visualise all my thoughts here.</p>

{% include notes_graph.html %}
